<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<main class="site">

<nav class="nav--mobile">
        <ul class="sidebar--navlist">
          <li><a href="#" class="sidebar__a">Achim Bertenburg</a></li>
          <li><a href="#" class="sidebar__a">Arne Schmitt</a></li>
        </ul>
</nav>

  <aside class="sidebar">
    <div class="nav">
      <ul class="sidebar--navlist">
        <li><a href="#" class="sidebar__a">Achim Bertenburg</a></li>
        <li><a href="#" class="sidebar__a">Arne Schmitt</a></li>
        <li><a href="#" class="sidebar__a">Christian Haake</a></li>
        <li><a href="#" class="sidebar__a">Die tödliche Doris</a></li>
        <li><a href="#" class="sidebar__a">Eiko Grimberg</a></li>
        <li><a href="#" class="sidebar__a">Hannah Regenberg</a></li>
        <li><a href="#" class="sidebar__a">Ingo Vetter</a></li>
        <li><a href="#" class="sidebar__a">Miron Zownir</a></li>
        <li><a href="#" class="sidebar__a">Sibylle Springer</a></li>
        <li><a href="#" class="sidebar__a">Thomas Hartmann</a></li>
        <li><a href="#" class="sidebar__a">Wolfgang Müller</a></li>
    </ul>
    </div>
    <div class="nav nav--bottom">
      <ul class="sidebar--navlist">
        <li><a href="#" class="sidebar__a">Ausstellungen</a></li>
        <li><a href="#" class="sidebar__a">Editionen</a></li>
        <li><a href="#" class="sidebar__a">Kontakt</a></li>
        <li></li>
        <li><a href="#" class="sidebar__a"><u>de</u> / eng</a></li>
        <h1 class="nav__logo">K–Strich</h1>
    </ul>
    </div>
  </aside>

  <article class="article">
      <section class="section section--line">
        <a href="http://example.com" class="section__eventlink">
            <div class="section__table pure-g">
              <div class="section__eventinfo pure-u-1 pure-u-sm-3-5 pure-u-md-4-5"><b>Arne Reimann</b><br>The Score</div>
              <div class="section__eventdate pure-u-1 pure-u-sm-2-5 pure-u-md-1-5">21/09/2018<br>20 h</div>
            </div>
        </a>
            <img src="https://placeimg.com/840/600/any" class="section__img section__img--fullwidth" />
        
      </section>

    <section class="section section--line">
      <a href="http://example.com" class="section__eventlink">
        <div class="section__table pure-g">
          <div class="section__eventinfo pure-u-1 pure-u-sm-3-5 pure-u-md-4-5"><b>Arne Reimann</b><br>The Score</div>
          <div class="section__eventdate pure-u-1 pure-u-sm-2-5 pure-u-md-1-5">21/09/2018<br>20 h</div>
        </div>
    </a>
    </section>

    <section class="section section--line">
      <a href="http://example.com" class="section__eventlink">
        <div class="section__table pure-g">
          <div class="section__eventinfo pure-u-1 pure-u-sm-3-5 pure-u-md-4-5"><b>Arne Reimann</b><br>The Score</div>
          <div class="section__eventdate pure-u-1 pure-u-sm-2-5 pure-u-md-1-5">21/09/2018<br>20 h</div>
        </div>
    </a>
    </section>


    <section class="section section--line">
      <a href="http://example.com" class="section__eventlink">
        <div class="section__table pure-g">
          <div class="section__eventinfo pure-u-1 pure-u-sm-3-5 pure-u-md-4-5"><b>Arne Reimann</b><br>The Score</div>
          <div class="section__eventdate pure-u-1 pure-u-sm-2-5 pure-u-md-1-5">21/09/2018<br>20 h</div>
        </div>
    </a>
    </section>


    <section class="section section--line">
      <a href="http://example.com" class="section__eventlink">
        <div class="section__table pure-g">
          <div class="section__eventinfo pure-u-1 pure-u-sm-3-5 pure-u-md-4-5"><b>Arne Reimann</b><br>The Score</div>
          <div class="section__eventdate pure-u-1 pure-u-sm-2-5 pure-u-md-1-5">21/09/2018<br>20 h</div>
        </div>
    </a>
    </section>


    <section class="section section--line">
      <a href="http://example.com" class="section__eventlink">
        <div class="section__table pure-g">
          <div class="section__eventinfo pure-u-1 pure-u-sm-3-5 pure-u-md-4-5"><b>Arne Reimann</b><br>The Score</div>
          <div class="section__eventdate pure-u-1 pure-u-sm-2-5 pure-u-md-1-5">21/09/2018<br>20 h</div>
        </div>
    </a>
    </section>
  </article>
</main>
</body>
</html>
