.c-edition {
    width: 100%;
    margin-bottom: 1rem;
   


    &__artist {
        font-weight: normal;
        letter-spacing: $big-type-spacing;
        line-height: $big-type-line;
        font-size: $big-type-size;
        margin: 0;
        font-weight: $bold-type;
    }

    &--line {
        border-top: $border-top;
        margin-bottom: $border-bottom-margin;
    }

    &__index {
        margin-bottom: 0px;
        margin-top: 0px;
        padding: .3rem 0 1.5rem 0;
    }

    &__headline {
        margin-top: 1rem;
        border-bottom: $border-bottom;
        font-size: $big-type-size;
        margin-bottom: $border-bottom-margin;
        padding-bottom: $c-list-padding-bottom;
        margin-top: 2rem;
    }

    &__headline:first-child{
        margin-top: 0px;
    }

    &__text--col1 {
        column-count: 1;
        line-height: 1.2rem;
        font-weight: $regular-type;
        max-width: 800px;
    }

    &__text--col1 p {
        margin-top: .2rem;
    }

    &__text--col2 {
        column-count: 2;
        line-height: 1.2rem;
        font-weight: $regular-type;

        @media only screen and (max-width: $break-small) { 
            column-count: 1;
        }
    }

    &__text--col2 p {
        margin-top: .2rem;
    }
           
}