.c-news {
    width: 100%;
    padding-top: $c-list-padding-top;
    
    &__eventinfo, &__eventdate {
    	font-weight: normal;
    	letter-spacing: $big-type-spacing;
        font-size: $big-type-size;
        line-height: $big-type-line;
    }

    &__artist {
        font-weight: $bold-type;
        font-size: $big-type-size;
    }

    &__artist, &__title {
        margin: 0;
        line-height: $big-type-line;
    }

    &--line {
        border-top: $border-top;
        margin-bottom: $border-bottom-margin;
        padding-bottom: 1rem;
    }

    &--index {
        border-top: $border-top;
        margin-bottom: 0px;
        padding-bottom: 1.5rem;
    }
     
    &--invert {
        background-color: $higlight-color;
        padding-left: .7rem;
    }

    &--invert p {
        color: $text-invert-color;
    }

     &--invert a {
        color: $text-invert-color;
    }   

    &__img {
        display: inline-block;
        margin-top: 1rem;
    }
    
    &__img--fullwidth {
        width: 100%;
    }
}

img.portrait {
    width: auto;
    max-height: 650px;
}