.c-gallery {
  width: 100%;
  overflow: hidden;
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15%;
}

.owl-stage {
  display: flex;
}

.gallery__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  float: left;
}

.gallery__imagewrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__image {
  max-height: 550px;
  width: auto;
  max-width: 100%;
}

.gallery__caption {
  font-size: 0.8rem;
  padding: 0 0 10px 0;
  line-height: 1rem;
  margin-top: 1rem;
}

.gallery__caption--normargin {
  font-size: 0.8rem;
  padding: 0 0 10px 0;
  line-height: 1rem;
  margin-top: 0rem;
}

.owl-theme .owl-nav [class*='owl-'] {
  background: none;
  &:hover {
    background: none;
  }
}

.owl-nav{
  text-align: right;
}

.owl-prev {
  cursor: pointer
}

.owl-next {
  margin-left: 10px!important;
  cursor: pointer
}

.owl-dots:after {
  content: "";
  display: table;
  clear: both;
}

.owl-theme .owl-nav [class*=owl-] {
    border: 0px solid #fff;
    padding: 0;
    margin: 0;
}

.is_active {
  text-decoration: line-through;
}