.nav {
  &--bottom {
  }   
}

.nav--mobile {
  display: none!important;
  position: fixed;
  z-index: 1000;
  @media only screen and (max-width: $break-small) { 
      display: inline-block!important;
  }
}
.nav--mobile.is-active{
  margin-top: 5px;
  margin-left: 12px;
}


.nav--topmargin {
  margin-top: 30px;
}

@media only screen and (min-height: 620px) {
    .nav {
      &--bottom {
      }   
    }
}