.sidebar {
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 250px;
  -webkit-transition: margin 700ms;
  transition: margin 700ms;
  
  &__wrapper {
    height: auto;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    padding: 30px 0 0 30px;
    /* this fills up the remaining space */
    flex-grow: 1;
  }

  &__bottom {
    min-height: 100px;
    padding: 10px 0 0 30px;
  }

  &__navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.72rem;
  }

  &__navlist--sub{
    margin: 0 0 20px 15px;
  }

  &--hidden{
    display: none;
  }

} 

.sidebar__a {
    color: #000000;
    text-decoration: none;
    position: relative;
    width: auto;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;

    &.is_active::after{
      border-bottom: .2rem solid black;
      content: "";
      left: 0;
      margin-top: calc(0.125em / 2 * -1);
      position: absolute;
      right: 0;
      top: 50%;
    }

    &:hover::after {
        border-bottom: .2rem solid black;
        content: "";
        left: 0;
        margin-top: calc(0.125em / 2 * -1);
        position: absolute;
        right: 0;
        top: 50%;   
    }
}


