.sidebar {
  height: 100%;
  padding: 30px 20px 0px 30px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 250px;
  -webkit-transition: margin 700ms;
  transition: margin 700ms;
    
  &__navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.8rem;
  }

  &__navlist--sub{
    margin: 0 0 20px 15px;
  }

  &--hidden{
    display: none;
  }

} 

.sidebar__a {
    color: #000000;
    text-decoration: none;
    position: relative;
    width: auto;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;

    &.is_active::after{
      border-bottom: .2rem solid black;
      content: "";
      left: 0;
      margin-top: calc(0.125em / 2 * -1);
      position: absolute;
      right: 0;
      top: 50%;
    }

    &:hover::after {
        border-bottom: .2rem solid black;
        content: "";
        left: 0;
        margin-top: calc(0.125em / 2 * -1);
        position: absolute;
        right: 0;
        top: 50%;   
    }
}


