$break-small: 900px;
$break-medium: 1038px;

/* Typography */

$big-type-size: 2.4rem;
$big-type-line: 2.6rem;
$big-type-spacing: -0.2px;
$regular-type: 400;
$bold-type: 600;

$medium-type-size: 1.5rem;
$medium-type-line: 1.6rem;

/* List styles */

$border-top: 5px solid black;
$border-bottom: 5px solid black;
$border-top-margin: 1rem;
$border-bottom-margin: 1rem;
$border-bottom-margin-large: 4rem;

$c-list-padding-top: .25rem;
$c-list-padding-bottom: .25rem;

/* color */

$higlight-color: #000;
$text-invert-color: #fff;
